.button {
    background-color: #e2cc67;
    width: 160px;
    height: 50px;
    line-height: 50px;
    
    text-align: center;
    text-transform: uppercase;
    color: #0c0d0d;
    font-family: $f;
    font-size: 13px;
    letter-spacing: .6px;
    
    display: inline-block;
    border: none;
    cursor: pointer;
    position: relative;
    @media (max-width: 1500px) {
        width: 140px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
    }
    @media (max-width: 600px) {
        width: 120px;
        height: 25px;
        line-height: 25px;
        font-size: 11px;
        letter-spacing: .4px;
    }
}

.button:before {
  content: '';
  position: absolute;
  border: #0c0d0d solid 2px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.button:hover:before {
  opacity: 1;
}
.button:hover {
  box-shadow: 0 0 1px #000;
}

/* ------------------------------------ */
/*  SLICK ARROWS  */
.slick-arrow,
.slick-arrow:focus,
.slick-arrow:active,
.slick-arrow:hover {
    width: 70px;
    height: 90px;
    z-index: 10;
    @include transition(all, .2s);
    background-color:  peru;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 40px 34px;
         -o-background-size: 40px 34px;
            background-size: 40px 34px;
    @media (max-width: 800px) {
        width: 50px;
        height: 70px;
    }
    @media (max-width: 600px) {
        width: 30px;
        height: 50px;
        -webkit-background-size: 20px 20px;
         -o-background-size: 20px 20px;
            background-size: 20px 20px;
    }
    &:before {
        display: none;
    }
}
.slick-arrow:hover {
    opacity: .8;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
    right: 0;
    background-image: url("../images/right-arrow.svg");
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
    left: 0;
    background-image: url("../images/left-arrow.svg");
}

.scroll-down {
  width: 95px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 20;
  cursor: pointer;
  margin: auto;
  @media (max-width: 1700px) {
    bottom: 10px;
  }
  @include transition(all, .2s);
  i {
    display: block;
    height: 25px;
    width: 14px;
    margin: 0 auto 0px;
    background-image: url("../images/scroll-down.png");
    margin-bottom: 0px;
    -webkit-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
  }
  span {
    text-transform: uppercase;
    font-family: $f;
    font-size: 10px;
    color: #8A8F99;
    font-weight: 700;
    letter-spacing: .6px;
  }
  &:hover {
    opacity: .6;
  }
}
@media (max-width: 1200px) {
  .scroll-down {
    display: none;
  }
}