.sidebar {
    position: fixed;
    left: 55px;
    padding-left: 75px;
    top: 235px;
    padding-top: 60px;
    width: 300px;

    .back-link {
        position: absolute;
        top: 0;
        left: 75px;
        color: #8a8f99;
        font-family: $f;
        text-transform: uppercase;
        font-size: 14px;
        @include transition(all, .2s);
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -6px;
            left: -65px;
            width: 40px;
            height: 12px;
            background-image: url(../images/back-arrow.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            @include transition(all, .2s);
        }
        &:hover {
            color: #e1cb69;
            &:before {
                left: -55px;
            }
        }
    }

    .widget {
        &-menu {
            .sidebar-title {
                font-size: 14px;
                color: #E1CB69;
                text-transform: uppercase;
                display: block;
                margin-bottom: 25px;
                font-weight: 700;
                font-family: $f;
            }
            .menu-item {
                list-style: none;
                color: #8a8f99;
                font-family: $f;
                text-transform: uppercase;
                font-size: 14px;
                margin-bottom: 20px;
                position: relative;

                a {
                    color: inherit;
                }

                &.current-menu-item {
                    color: #e1cb69;
                    
                    &:before {
                        content: '';
                        width: 40px;
                        height: 1px;
                        background-color: #e1cb69;
                        position: absolute;
                        top: 50%;
                        left: -65px;
                    }
                }
            }
            &--posts {
                .menu-item {
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid rgba(255,255,255,.15);
                    &:last-child {
                        border: none;
                    }
                    p {
                        font-weight: 400;
                        font-family: $p;
                        line-height: 20px;
                        color: #8A8F99;
                        text-decoration: underline;
                        text-transform: none;
                        @include transition(all, .2s);
                    }
                    &:hover {
                        p {
                            text-decoration: none;
                            color: #e1cb69;
                        }
                    }
                }
            }
        }
    }

}