
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
  font-family: $h;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../images/bg-inner.jpg);
  background-color: #111112;
  &.blured {
    background-image: url(../images/bg-inner-blured.jpg);
  }
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
    max-width: 100%;
  &--md {
    width: 920px;
  }
  &--lg {
    width: 1100px;
  }
  &--xl {
    width: 1360px;
  }
  &--xs {
    width: 750px;
  }
}

.scroll {
  max-height: 100%;
  overflow: auto;

  .wrapper {
    padding-bottom: 50px;
  }

  @media (max-width: 1199px) {
    .wrapper {
      padding-bottom: 0
    }
  }

  &.mCS_destroyed {
    height: auto!important;
    max-height: none;
    overflow: hidden;

    .mCustomScrollBox {
      max-height: none!important;
    }
  }

}

.fp-section {
  @media (max-width: 1199px) {
    height: auto!important;
  }
  &.shadow {
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: 120px;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(17,17,19,0.76) 50%, rgba(17,17,19,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(17,17,19,0.76)), color-stop(100%, rgba(17,17,19,1)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(17,17,19,0.76) 50%, rgba(17,17,19,1) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(17,17,19,0.76) 50%, rgba(17,17,19,1) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(17,17,19,0.76) 50%, rgba(17,17,19,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(17,17,19,0.76) 50%, rgba(17,17,19,1) 100%);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      pointer-events: none;
    }
  }
}


.fp-tableCell {
  padding: 165px 0 50px;

  @media (max-width: 1500px) {
    padding: 100px 0 50px;
  }
}
.no-padding-bottom .fp-tableCell {
  padding-bottom: 0;
}

.no-centering {
    .fp-tableCell {
        display: block;
        padding-top: 235px;
  }
}

.mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.flex-row {
    @include flex($alignI: flex-start, $justify: flex-start);
    margin: 0 -15px;

    &.flex-row-middle {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
[class*='col-'] {
    padding: 0 15px;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[aria-disabled="true"] {
    opacity: .1!important;
}

/* Set default opacity for input's placeholders equal to 1 */
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}





