// COLORS
// ---------------------------
$text: #444;

// FONTS
// ---------------------------
$h:                         'HelveticaNeue';
$f:                         'Futura';
$a:                         'ADAM.CG PRO';
$p:                         'Playfair Display';


// RESPONSIVE
// ---------------------------
